@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

.hero-unit {
    margin: 50px auto 0 auto;
    max-width: 700px;
    text-align: center;

    img {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .hero-unit h1 {
        font-size: 40px;
    }
}
