@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

@import "rgbapng";

.billboard {
    position: relative;
    background-size: 1000px 300px;
    height: 300px;
    @include border-bottom-radius(10px);
    @include box-shadow();

    header {
        position: absolute;
        top: 60px;
        color: white;
        padding: 0 30px;
        @include border-bottom-right-radius(10px);
        @include rgba-background-inline(rgba(0, 0, 0, .8));

        h1 {
            font-size: 30px;
            line-height: 30px;
        }
    }
}

.home .billboard {
    background-size: 1000px 350px;
    height: 350px;
    background-image: url('../images/bg-home.jpg');

    header {
        top: 90px;
        right: 50px;
        padding: 20px;
        border-radius: 10px;
        background-image: url('../images/wood_sign.jpg');
        background-size: 300px 188px;
        background-position: center;
        @include box-shadow();

        .title-block {
            text-transform: uppercase;
            text-align: center;

            span {
                display: block;
                color: $textColor;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .couple {
                color: #2e9840;
                font-size: 26px;
                line-height: 26px;
            }

            .date, .location {
                font-size: 16px;
                font-weight: normal;
            }

            .location {
                font-weight: bold;
            }
        }
    }
}

.rope {
    background: url('../images/rope.png');
    background-size: 13px 100px;
    width: 13px;
    height: 100px;
    position: absolute;
    top: -100px;

    &.left {
        left: 20px;
    }

    &.right {
        right: 20px;
    }
}

.wedding-party .billboard {
    background-image: url('../images/bg-wedding-party.jpg');
}

.details .billboard {
    background-image: url('../images/bg-event-details.jpg');
}

.rsvp .billboard {
    background-image: url('../images/bg-rsvp.jpg');
}

.potluck .billboard {
    background-image: url('../images/bg-potluck.jpg');
}

.planning .billboard {
    background-image: url('../images/bg-planning.jpg');
}

.visiting .billboard {
    background-image: url('../images/bg-visiting.jpg');
}

.registry .billboard {
    background-image: url('../images/bg-registry.jpg');
}

.contact .billboard {
    background-image: url('../images/bg-contact.jpg');
}
