@import "compass/css3/box-shadow";

.form-horizontal {
    background-image: url('../images/wood_texture.jpg');
    margin-top: 30px;
    padding: 20px 10px;
    border-radius: 10px;
    @include box-shadow();

    label, .control-label {
        font-weight: bold;
    }

    .help-block, .help-inline {
        font-weight: bold;
    }
}
