@import "compass/css3/opacity";

@media (min-width: 980px) {
.navbar {
    position: absolute;
    top: 20px;
    z-index: 1;
    width: 100%;
    max-width: $container-width;

    .navbar-inner {
        padding: 0;
        border: 0;
        @include border-radius(0);
    }

    .nav {
        margin: 0;
        display: table;
        width: 100%;

        li {
            display: table-cell;
            width: 1%;
            float: none;

            a {
                text-align: center;
                border-left: 1px solid rgba(255, 255, 255, .75);
                border-right: 1px solid rgba(0, 0, 0, .1);
            }

            &.active a {
                border-left: 0;
            }

            &:first-child a {
                border-left: 0;
            }

            &:last-child a {
                border-right: 0;
            }
        }
    }
}
}
