@import "compass/css3/opacity";

.carousel-control {
    top: 27px;
}

.carousel-indicators {
    right: 478px;
    top: 50px;

    li {
        background-color: #666;
    }

    .active {
        background-color: #000;
    }
}

.carousel-inner {
    h2 {
        @extend .text-center;
        margin-bottom: 30px;
    }

    .item {
        margin: 0 80px;
    }
}

.bio {
    height: 220px;

    img {
        margin-right: 20px;
        float: left;
        width: 300px;
        height: 200px;
        @extend .img-polaroid;
    }
}
