@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

$container-width: 1000px;

@import 'nav';
@import 'billboard';
@import 'wedding_party';
@import 'forms';

.container {
    max-width: $container-width;
}

.rsvp-banner {
    vertical-align: middle;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 40px;

    a {
        display: inline-block;
        vertical-align: middle;
    }
}

.billboard + form {
    margin-top: 15px;
}
