@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

@import "compass/css3/box-shadow";

@import "rgbapng";

@import 'nav';
@import 'wedding_party';

body {
    padding: 20px 0;
}

.container {
    max-width: 1000px;
}

.billboard {
    background-size: 1000px 250px;
    margin-top: -90px;
    vertical-align: middle;
    height: 250px;
    line-height: 290px;
    text-align: center;
    border-radius: 10px;
    @include box-shadow();

    hgroup {
        display: inline-block;
        vertical-align: middle;
        padding: 20px;
        color: white;
        border-radius: 10px;
        @include rgba-background-inline(rgba(0, 0, 0, .6));
    }
}

.home .billboard {
    background-size: 1000px 350px;
    height: 350px;
    line-height: 390px;
    background-image: url('../images/bg-home.jpg');
}

.rsvp-banner {
    vertical-align: middle;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 40px;

    a {
        display: inline-block;
        vertical-align: middle;
    }
}

