@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

@import 'nav';

body {
    padding: 20px 0;
}

.container {
    max-width: 1000px;
}

.hero-unit {
    margin: 0 auto;
    text-align: center;

    img {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .hero-unit h1 {
        font-size: 40px;
    }
}
