{% extends "billboard.html" %}

{% block billboard %}
    <h1>Alex and Colette are getting married!</h1>
    <h2>Sunday September 1st @ 4pm</h2>
{% endblock %}

{% block inner_content %}
{% include "_rsvp_banner.html" %}

<div class="row-fluid">
    <div class="span4">
        <h2>Alex</h2>
        <p>{{ lipsum(1, False) }}</p>
    </div>
    <div class="span4">
        <h2>Colette</h2>
        <p>{{ lipsum(1, False) }}</p>
    </div>
    <div class="span4">
        <h2>Wedding</h2>
        <p>{{ lipsum(1, False) }}</p>
    </div>
</div>
{% endblock %}
