{% extends "base.html" %}

{% block content %}
<div class="billboard">
    <hgroup>
        <h1>Alex and Colette are getting married!</h1>
        <h2>Sunday September 1st @ 4pm</h2>
    </hgroup>
</div>
{% include "_rsvp_banner.html" %}

<div class="row-fluid">
    <div class="span4">
        <h2>Alex</h2>
        <p>Bacon ipsum dolor sit amet veniam doner pork chop proident voluptate, sirloin ham hock enim. T-bone pork chop reprehenderit ut cow. Ham in beef ribs, nulla in jowl ham hock dolore qui velit duis cow proident. Magna quis in, commodo nostrud swine turkey ad laboris meatloaf. Flank quis non duis. Frankfurter filet mignon est et sed culpa.</p>
    </div>
    <div class="span4">
        <h2>Colette</h2>
        <p>Pork loin enim voluptate dolore prosciutto tongue corned beef sausage short ribs t-bone meatloaf shoulder beef. Shank incididunt t-bone tail doner commodo swine. Irure aute venison occaecat, reprehenderit short loin hamburger meatball et flank. Shankle ea in occaecat capicola proident sunt pork chop, rump jowl ham chicken. Eu enim pastrami venison consequat adipisicing minim ham. Flank salami irure, shoulder adipisicing tri-tip est venison bacon eu tenderloin beef meatball incididunt.</p>
    </div>
    <div class="span4">
        <h2>Wedding</h2>
        <p>Laboris frankfurter meatloaf exercitation ex consequat doner meatball fugiat minim magna shoulder. Proident excepteur shankle drumstick occaecat anim, dolor corned beef short ribs tenderloin ut swine. Andouille qui shank fugiat, sint ut nulla ut tempor pork loin beef ribs. Turducken incididunt pariatur shoulder. Velit cupidatat fatback, cow mollit tongue kielbasa capicola dolor ea pork leberkas rump ex. Dolore cow tongue biltong ut ham shank eiusmod tail commodo jowl do.</p>
    </div>
</div>
{% endblock %}
