{% extends "billboard.html" %}

{% block billboard %}
    <div class="rope left"></div>
    <div class="rope right"></div>
    <div class="title-block">
        <span class="couple">Colette &amp; Alex</span>
        <span>will be married</span>
        <span class="date">Sunday September 1, 2013</span>
        <span class="location">Ridgefield, WA</span>
    </div>
{% endblock %}

{% block inner_content %}
{% include "_rsvp_banner.html" %}

<div class="row-fluid">
    <div class="span4">
        <h2>Alex</h2>
        <p>Alex grew up in Ridgefield, Washington - you'll get to see exactly where if you come to the wedding. He is a computer programmer who makes his living building things for the internet. He loves computer games, brewing beer, and going on adventures. He loves Colette because she makes him "get off his [behind] and do things."</p>
    </div>
    <div class="span4">
        <h2>Colette</h2>
        <p>Colette grew up in Ester, Alaska and moved to Portland on a whim - best decision ever. She accidentally ended up in advertising, where she makes a living bossing people around and organizing things. She loves planning adventures, exploring, cooking, and being a dork. She thinks Alex is the bees knees because he has a huge smile, is extremely good natured, and seems to enjoy going on all the whacky adventures she plans. Plus he let her get a puppy.</p>
    </div>
    <div class="span4">
        <h2>Wedding</h2>
        <p><strong>Date:</strong> September 1, 2013 - the Sunday of Labor Day weekend</p>
        <p><strong>Location:</strong> Ridgefield, Washington - 20 minutes north of Portland</p>
        <p><strong>Details:</strong> Labor day picnic! Please <a href="{{ url_for('potluck') }}">bring a dish</a> and come prepared to have fun. There will be activities galore: lawn games, sparklers, chinese lanterns, bonfires etc. We're dressing up, but you don't have to. Plenty of camping space is available so there's no excuse not to try all our favorite Portland beers and homemade wine.</p>

    </div>
</div>
{% endblock %}
