{% extends "billboard.html" %}

{% block billboard %}
    <h1>Planning</h1>
{% endblock %}

{% block inner_content %}
	{% include "_rsvp_banner.html" %}
	<h2>Check Back Often</h2>
		<p>This is a highly DIY wedding and we're relying on our friends and family to help minimize the amount of stuff we unnecessarily rent or buy. We'll be using this page to request and track borrowed items and as a way for you to help us think of creative ways to make our wedding awesome.</p>
        <p><strong>Update:</strong> Lights are up, pig sized bbq pit is complete (and tested!), bouncy house has been reserved, beers have been chosen, pig has been sourced.</p>
        <p>Generous friends have volunteered to loan us:
        <p><ul><li>bocce ball - Josh Patrice</li>
					<li>cornhole - Larisa Brunsdon</li>
					<li>badmitton - Larisa Brunsdon</li>
                    <li>croquet - Larisa Brunsdon </li>
                    <li>croquet - Santos Cash </li>
                    <li>horseshoes - Phil Luke </li>
                    <li>horseshoes - Tiana Luke </li>
                    </ul><p>
        <h5>Items still needed:</h5>
			<p><ul>
				<li>lawn games</li>
				<ul><li><a href="{{ url_for('contact') }}">ladder golf</a></li></li>
					<li><a href="{{ url_for('contact') }}">frisbees</a></li>
					<li><a href="{{ url_for('contact') }}">ring toss</a></li>
					<li><a href="{{ url_for('contact') }}">other suggestions?</a></li></ul>
				</ul><p>

{% endblock %}
