{% extends "billboard.html" %}

{% block billboard %}
    <h1>Registry</h1>
{% endblock %}

{% block inner_content %}
    {% include "_rsvp_banner.html" %}

    <p class="lead">
        We look forward to seeing you all at the wedding. If you would like to get us a gift we are registered at the following locations.
    </p>
    <div class="row-fluid">
        <div class="span2 offset3">
            <a target="_blank" href="http://www.amazon.com/registry/wedding/3585S42ALRRUU"><img src="http://g-ecx.images-amazon.com/images/G/01/gifts/registries/wedding/redesign/email/logo-75-wide._V140846946_.png"></a>
        </div>
        <div class="span2">
            <a target="_blank" href="http://www.rei.com/GiftRegistryDetails/GR3295199"><img src="http://www.rei.com/content/rei/en_us/site/_jcr_content/companylogo/image.img.gif/1357149613507.gif"></a>
        </div>
        <div class="span2">
            <a target="_blank" href="http://www.etsy.com/registry/MzU0Mzk0fDI0NjMxOTkz/"><img src="http://www.etsy.com/images/registry/see-my-registry-etsy.png"></a>
        </div>
    </div>
{% endblock %}
