{% extends "billboard.html" %}

{% block billboard %}
    <h1>Visiting Portland</h1>
{% endblock %}

{% block inner_content %}
{% include "_rsvp_banner.html" %}

<h2>Accomodations & Transportation</h2>

<p><strong>Accomodations</strong></p>

<p>Camping<br/>
There will be plenty of camping available at the wedding site for those who wish to stay for the weekend. Please contact us if you have any questions. </p>

<p>Lodging<br/>
We'd love to set people up to share houses instead of staying in hotels, but will also help you book hotels if desired. There is no lodging near the wedding site, so when choosing lodging it's best to choose something close to the MAX and in a nice neighborhood. <p> 

<p class="indent">Near Our House (take I-5 to wedding):
<ul><li><a href="https://www.airbnb.com/rooms/1297021" target="_blank">Kerby Cottage</a>, sleeps 4, $85/night</li>  
<li><a href="https://www.airbnb.com/rooms/695704" target="_blank">Wilbur Street</a>, sleeps 4-6, $155/night</li>   
<li><a href="https://www.airbnb.com/rooms/497655" target="_blank"> Mississippi Ave</a>, sleeps 4, $175/night</li> 
<li><a href="https://www.airbnb.com/rooms/1226994" target="_blank"> Garfield Ave</a>, sleeps 4-6, $115/night</li></ul>


<p class="indent">Near the Airport (take I-205 to I-5 to wedding): <br/> 
<ul><li><a href="https://www.airbnb.com/rooms/1022232" target="_blank">Mt Tabor House</a>, sleeps 6, $1255/night</li>   
<li><a href="https://www.airbnb.com/rooms/873226" target="_blank">Secluded River Cabin (WA)</a>, sleeps 4-6 $140/night</li>
<li><a href="https://www.airbnb.com/rooms/1086146" target="_blank">Wygant Street</a>, sleeps 6-8, $225/night</li>  
<li><a href="https://www.airbnb.com/rooms/1141153" target="_blank">Mt Tabor Condo</a>, sleeps 8, $59 + $35 for extra people after the first 2, walk from MAX is uphill</li></ul>

<p><strong>Transportation</strong></p>
<p> If you are not planning to rent a car, please contact us for help getting to the wedding site so that we can help you get a ride with someone local. A cab ride to the wedding site would be cost prohibitive and we'll do what we can to make sure anyone to traveled from afar is well taken care of. </p>

<h2>Things To Do</h2>
<p>Alex and I love the Northwest and want to share our favorite places and activities with you even if we may not be able to show you around personally during your visit. The best part about living in Portland is the amazing natural beauty of the surrounding area, and the delicious food and beer available in town.</p>


<p><strong>City</strong></p>
<p><ul><li>Powell's Books </li>
<li>Rose Garden</li>
<li>Walkable Streets - These streens have a lot of little shops and restaurants and are fun to spend a few hours just walking around and getting a feel of Portland.</li>
<ul><li>Alberta</li>
<li>Hawthorne</li>
<li>Belmont</li>
<li>Mississippi</li>
<li>NW 23rd</li></ul>
<li>Saturday Market - arts and crafts fair, food stands (lots of imports, t-shirts etc)</li>
<li><a href="http://www.portlandfarmersmarket.org/index.php/markets/" target="_blank">Farmer's Markets</a> - there are many</ul></p>


<p><strong>Events</strong></p>
<ul><li><a href="http://www.oregonstatefair.org/" target="_blank">Oregon State Fair</a> 8/23-9/2</li>
<li><a href="http://www.artinthepearl.com/" target="_blank">Dahlia festival</a> 8/31-9/2</li>
<li><a href="http://www.artinthepearl.com/" target="_blank">Art in the Pearl</a> 8/31-9/2</li>
<li><a href="http://musicfestnw.com/" target="_blank">Musicfest NW</a> 9/3-9/8 </li></ul>

<p><strong>Oregon Coast</strong></p>
<ul><li>Canon Beach - more high end artsy community near an oregon coast postcard favorite "haystack rock." About 1:15 from Portland via Highway 26. </li>
<li>Seaside - very close to Canon beach, more traditional beachtown with all the touristy shops, family activities, and saltwater taffy. About 1:15 from Portland via Highway 26. </li>
<li>Ecola State Park - nice hike near Canon Beach and Seaside, there is a $5 day use fee to park. About 1:15 from Portland via Highway 26. </li>
<li>Astoria - more working class industrial beach town. Has a nice brewery (Ft George) and a beautiful bridge. You can take private glass blowing glasses and relive scenes from Goonies. About 1:30 from Portland via Highway 30. </li>
<li>Tillamook - it has a great 4 mile spit with an amazingly beautiful wide deserted beachfront that's perfect for a long walk. There's also the cheese factory, and a great fish and chip place right across from the factory (it doesn't look like much but it's food is fabulous). About 1:45 from Portland via Highway 26 - then take the cutoff to Tillamook. </li></ul>

<p><strong>Inland</strong></p>
<ul><li>Silver Falls - gorgeous 7 mile hike with 10 waterfalls, some of which you can walk behind. Start at the north rim, shorter loops are available.</li>
<li>Eagle Creek - Colette's favorite hike. Hike is on a cliff edge following a canyon river with amazing flourecent green moss and lush surroundings. 13 miles out and back, but almost no elevation gain, possible shallow stream fording. 
<li>Mount Hood Area</li>
<ul><li>Lost Lake - beautiful lake with a great view of Mt Hood. Offers a very short hike, non-motorized boat rentals, great picnic spots with grills</li>
<li> Mirror Lake - short hike with a lake with a view of Mt Hood at the end, hike can be extended to Tom Dick and Harry peaks (still very doable day hike out and back).</li>	
<li>Cooper Spur</li>
<li>HOod River</li></ul></ul>



<h2>Our Favorite Places to Imbibe</h2>

<p><strong>Breakfast</strong>
<ul><li>Gravy</li>
<li>Equinox</li>
<li>Tin Shed</li>
<li>Tasty n Sons</li>
<li>Kenny & Zukes</li>
<li>Country Cat</li>
<li>Screen Door</li>
<li>Helsers</li></ul></p>

<p><strong>Dinner</strong>
<ul><li>Tasty n Sons (dinner only, $$)</li>
<li>Firehouse (wood fired pizza, $$)</li>
<li>Podnah's (bbq, $$)</li>
<li>Screen Door (southern,$$)</li>
<li>Luc Lac (vietnamese $)</li>
<li>Fire on the Mountain (wings $)</li>
<li>Pambiche (cuban $)</li>
<li><li>Toro Bravo (tapas $$$)</li>
<li>Marrakesh (moroccan $$$)</li>
<li>Gruner (german $$$)</li></ul>

<p><strong>Very Portland (farm to table)</strong>
<ul><li>Aviary</li>
<li>Ned Ludd</li>
<li>Clyde Common</li>
<li>The Kingdom of Roosevelt</li></ul>

<p><strong>Food Cart Pods!</strong>
There are tons (http://www.foodcartsportland.com/), but here are some of the larger pods:
<ul><li>SE Hawthorne & 12th</li>
<li>SW Alder & 9th</li>
<li>SW Stark & 5th</li>
<li>NE Mississippi & Freemont</li>
<li>SE Belmont & 43rd</li></ul>



<p><strong>Dessert</strong>
<ul><li>Stumptown Coffee
<li>Blue Star Donuts 
<li>Le Petit Provence (pastries)
<li>Salt n Straw (ice cream)
<li>St Cupcake
<li>Pix</li></ul>

<p><strong>Breweries</strong>
<p>There are many http://www.portlandbeer.org/breweries/map/, but these are our favorites:
<ul><li>TBreakside Brewery</li>
<li>Double Mountain </li>
<li>Amnesia</li>
<li>Burnside</li>
<li>Hopworks</li></ul>

<p><strong>Bars & Late</strong>
<ul><li>Oregon Public House (nonprofit!)</li>
<li>Binks </li>
<li>Circa 33</li>
<li>Bunk </li>
<li>Casa Del Matador</li></ul>

{% endblock %}