{% extends "billboard.html" %}

{% block billboard %}
    <h1>The Wedding Party</h1>
{% endblock %}
{% block inner_content %}
{% include "_rsvp_banner.html" %}
<div id="party-carousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
        <div class="active item">
            <h2>Our Parents</h2>
            <div class="bio">
                <img src="{{ url_for('static', filename='images/lukes.jpg') }}" width="300" height="200">
                <h3>Phil &amp; Linda Luke</h3>
                <p> Phil and Linda were born and raised near Ridgefield. They've been married for 30 years and have two childen Alex (28) and Tiana (25). They run a nursery (South Ridge Growers) located ajacent to their home, and are very graciously hosting our wedding. They are an amazing couple, and we hope you get the chance to meet them. </p>
            </div>
            <div class="bio">
                <img src="{{ url_for('static', filename='images/sonafranks.jpg') }}" width="300" height="200">
                <h3>Cole &amp; Nancy Sonafrank</h3>
                <p> Cole and Nancy have been married for 33 years and have two children, Colette (32) and Eli (29). They live in Ester, Alaska and work in environmental conservation (water, and green building materials). They met in college and have been hopelessly in love ever since. We hope to follow in their example and live happily ever after.</p>
            </div>
        </div>
        <div class="item">
            <h2>Groomsmen</h2>
            <div class="bio">
                <img src="{{ url_for('static', filename='images/evan.jpg') }}" width="300" height="200">
                <h3>Evan Kallak</h3>
                <p> Evan and Alex have lived next door to each other as long as Alex can remember. Evan is in the Airforce and lives in Guam. They may not see each other much anymore, but when they are together it's like they are 10 all over again and thick as theives. Alex was Evan's best man and we're thrilled that Evan can come back and be there for Alex.</p>
            </div>
            <div class="bio">
                <img src="{{ url_for('static', filename='images/jason.jpg') }}" width="300" height="200">
                <h3>Jason Potwora</h3>
                <p> Jason and Alex have been friends since elementary school. Jason is the only groomsman still living in the area, so he's likely done all the groomsmen's heavy lifting (Jason, thanks in advance for whatever you have to put up with). Jason is getting his PhD in Behavioral Psychology. He likes brewing alcoholic beverages, sailing, and keeping up with sciency goings on.</p>
            </div>
            <div class="bio">
                <img src="{{ url_for('static', filename='images/shaun.jpg') }}" width="300" height="200">
                <h3>Shaun Clifford</h3>
                <p>Shaun and Alex have been friends since elementary school. Shaun lives in Boston and is going to school to become an architect. Alex hasn't seen Shaun since 3 months B.C. (that's Before Colette) so they have a lot of catching up to do.</p>
            </div>
        </div>
        <div class="item">
            <h2>Ladiespeople</h2>
            <div class="bio">
                <img src="{{ url_for('static', filename='images/eli.jpg') }}" width="300" height="200">
                <h3>Eli Sonafrank</h3>
                <p>Eli ignored conventions and asked Colette to be his best man and now it's a family tradition. He's the best little brother anyone could hope for and one of our favorite people. Eli lives in Phoenix with his wife Maegan. He loves the outdoors, reading non-fiction, and making things from scratch.</p>
            </div>
                <div class="bio">
                <img src="{{ url_for('static', filename='images/larisa.jpg') }}" width="300" height="200">
                <h3>Larisa Brunsdon</h3>
                <p> Larisa and Colette have been friends since junior high. They moved to Portland together in 2005 with no jobs because it sounded like a good idea - and it was. Larisa married the love of her life, Teri, in 2011. She works as a community manager (an internet thing), and loves camping, exploring Oregon, and all things fun.</p>
            </div>
            <div class="bio">
                <img src="{{ url_for('static', filename='images/suzy.jpg') }}" width="300" height="200">
                <h3>Suzy Perkins</h3>
                <p>Suzy and Colette have been friends since high school. Suzy move to Oregon for college and we're very glad she stuck around. Suzy married Brian in 2009 and they have an adorable one year old, Siena. Suzy teaches fourth grade, plays soccer, and loves coffee, NPR and being outside.</p>
            </div>
        </div>
    </div>

    <ol class="carousel-indicators">
        <li data-target="#party-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#party-carousel" data-slide-to="1"></li>
        <li data-target="#party-carousel" data-slide-to="2"></li>
    </ol>
    <a class="carousel-control left" href="#party-carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#party-carousel" data-slide="next">&rsaquo;</a>
</div>

{% endblock %}
